# LLM Configuration

LLM_PROVIDER=openrouter  # Options: ollama, openrouter

# adjust for local ollama:
# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_MODEL=qwen3:8b
# qwen3:8b quantized runs reasonbly fast even on a laptop with 16GB RAM and a decent CPU

# For openrouter generate and add your key. This model is free but you get rate limits.:
# OPENROUTER_API_KEY=
OPENROUTER_MODEL=anthropic/claude-3-sonnet

# Agent settings
KEEP_MESSAGES=5  # How many old messages to show as context
KEEP_FULL_OUTPUTS=2  # How many of those should include full tool output

# debugging stuff
VERBOSE=False  # Set to True for detailed tracing output by crewai library
CREWAI_TRACING_ENABLED=false # set to true to get crewai tracking in the browser
