# LLM Configuration

LLM_PROVIDER=openrouter  # Options: ollama, openrouter

# adjust for local ollama:
# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_MODEL=qwen3:8b

# For openrouter generate and add your key. The model is free to some extent.:
# OPENROUTER_API_KEY=
OPENROUTER_MODEL=anthropic/claude-3-sonnet
